{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1 class="text-center mt-5 text-3xl">
        Welcome to the Dashboard!
    </h1>

    <hr>

    <div class="container">

    </div>
{% endblock %}