{% extends 'base.html.twig' %}

{% block title %}Edit Event{% endblock %}

{% block body %}
    <div class="container mx-auto">
        <h1 class="text-center mt-5 text-3xl">
            Modifier un Événement
        </h1>

        {{ include('pages/event/_form.html.twig') }}

        <div class="my-5">
            <a href="{{ path('app_event_index') }}" class="text-red-500">
                <i class="fas fa-arrow-left"></i>
                Retour à la liste
            </a>
        </div>

        {{ include('pages/event/_delete_form.html.twig') }}
    </div>
{% endblock %}
